{% extends 'journal/base.html'%}
{% load widget_tweaks %}

<head><title>{% block head %}Confirm Password Reset{% endblock %}</title></head>

<h1>{% block title %}Confirm Password Reset - {{ block.super }}{% endblock %}</h1>

{% block body %}
<br><br><br><br><br><br>
<div class="container">
    {% if validlink %}
        <h4>Confirm Password Reset</h4>
        <p>Please enter your new password twice so we can verify you
        typed it in correctly.</p>
        <form class="form-group" role="form" action="" method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            
            <input class='btn-primary btn-xs' type="submit" value="Change password" />
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, possibly because it has
        already been used. Please request a new password reset.</p>
    {% endif %}
</div>

{% endblock %}