{% extends 'journal/base.html' %}

<html>

<head>
	<title>{% block head %}Privacy Policy{% endblock %}</title>
</head>
<body>

{% block body %}
<br><br><br><br>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="domtxt">{% block title %}Privacy Policy{% endblock %}</h3>

			<p>Abstractng operates the <em>www.abstract.ng</em> website as service to the public.</p>
			<p>This page informs you of our policies regarding the collection, use and disclosure of data when you use our site and the choices you have associated with that data.</p>
			<p>By using this site (<em>www.abstract.ng</em>), you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from <em>www.abstract.ng</em>.</p>
			<br>
			<h4 class="domtxt">Information Collection And Use:</h4>
			<p>While using this site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include but not limited to :
				<ul>
					<li>Email address</li>
					<li>Firstname and lastname</li>
					<li>Phone Number</li>
				</ul></p>
			<p>We may also collect information on how this site is accessed and used. This usage data may include information such as your computer's internet protocol address(IP address), browser type, browser version, the pages of this site that you visited, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostc data.</p>
			<p>We use cookies and similar tracking technologies to track the activities on our site. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent.</p>
			
			<br>
			<h5 class="domtxt">Use of Data</h5>
			<p>Abstractng uses collected data for the following:
				<ul>
					<li>To allow you participate in interactive feactures of our site when you choose to do so.</li>
					<li>To provide customer care and support.</li>
					<li>To provide analysis or valuable information so that we can improve on the site.</li>
					<li>To monitor the usage of the site.</li>
				</ul></p>

			<br>
			<h5 class="domtxt">Disclosure of Data</h5>
			<p>Abstractng may disclose your data in good faith that such action is necessary to:
				<ul>
					<li>Comply with a legal obligation.</li>
					<li>Protect and defend the rights or property of Abstractng.</li>
					<li>Prevent or investigate possible wrongdoing in connection with the site.</li>
					<li>Protect against legal liability.</li>
				</ul>
			</p>

			<br>
			<h5 class="domtxt">Security of Data</h5>
			<p>The security of your data is important to us, but remember that no method of transmission over the internet, or method of electronic storage is 100% secure. While we strive to use commercially accepatable means to protect your data, we cannot guarantee its absolute security.</p>

			<br>
			<h4 class="domtxt">Links To Other Sites:</h4>
			<p>This site (<em>www.abstract.ng</em>), may contain links to other internet resources, including websites. If you click on a third party link, you will be directed to that party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
			<p>Abstractng has no control over, and assumes no responsibility for the content, privacy policies or practices of any third party sites or services. Links from <em>www.abstract.ng</em> to third party sites do not constitute an endorsement by Abstractng of the parties or their products and services. The appearance on <em>www.abstract.ng</em> of advertisement and product or service information does not constitute an endorsement by abstractng, and abstractng has not investigated the claim made by any advertiser.</p>

			<br>
			<h4 class="domtxt">Disclaimer</h4>
			<p>Abstractng is not responsible for, and expressly disclaims all liability for damages of any kind arising out of use, reference to, or reliance on any information contained wthin the site (<em>www.abstract.ng</em>). The information contained within the site are user generated and no guarantee is given that such information is correct, complete and up-to-date.</p>

			<br>
			<h4 class="domtxt">Changes To This Privacy Policy:</h4>
			<p>Abstractng may update this privacy policy for this site from time to time. You will be notified of such changes by posting the new Privacy Policy on this page.</p>
			<p>You are advised to review this Privacy Policy periodically for any change. Changes to this Privacy Policy are effective when they are posted on this page.</p>

			<p>Please, discontinue the use of this site, <em>www.abstract.ng</em>, if you do not agree with this Privacy Policy.</p>
			<br>

			<h4><a href="{% url 'contact' %}" class="domtxt">Contact Us</a></h4>
		</div>
	</div>
</div>
		
{% endblock %}

</body>
</html>


 